* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #3498db 60%, #9b59b6 115%);
    color: #ffffff; 
}
.title {
    margin: 2% 0 0 2%;
}

.color_sub :hover{
    text-decoration: none;
    color: white;
}
